.button.primary {
    @apply py-2 px-3 border border-blue-800 bg-blue-800 text-white font-bold;

    &:hover {
        @apply bg-blue-900 border-blue-900
    }
}

select.settings-select {
    @apply block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-1 px-1 pr-8 leading-tight;

    &:hover {}

    &:focus {
        @apply outline-none bg-white border-gray-500;
    }
}

.tag {
    @apply border text-xs font-bold rounded-full;
}

.drawer-trigger {
    @apply px-2 border-2;
}

.icon {
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-menu {
    width: 2rem;
    height: 2rem;
}

.CodeMirror-buttonsPanel {
    @apply flex flex-wrap;

    button {
        @apply px-2 py-1 border border-gray-100;
    }
}

.action-panel-item {
    @apply px-5 py-4 text-gray-300;
}

.icon-text {
    position: relative;
    width: 0.75rem;
    height: 0.75rem;
    margin: 0.5rem;

    .icon-text-value {
        position: absolute;
        top: -5px;
        font-size: 0.9rem;
        font-weight: bold;
    }
}